body {
    box-sizing:border-box;
    padding: 40px;
    background-color: black;
    margin: auto;
}
svg{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.logo{
    width: 200px;
    height: 164px;
    background-image: url(img/Evolie.svg);
}
